# Xcode build artifacts
build/
DerivedData/
.derivedData/
.derivedData-*/
*.xcactivitylog
*.xcuserstate
*.mode1v3
*.mode2v3
*.pbxuser

# Xcode user-specific settings
xcuserdata/
*.xcworkspace/xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Carthage
Carthage/Build/
